body{
    padding: 10px;
    background-color: #a5a58d;
    font-size: 125%;
}
img{
    width: 45%;
    padding: 20px;
    border: 10px solid #659162;
}
li{
    display: inline-block;
    padding: 20px;
}