body{
    background-color: #ccd2c6;
    font-size: 125%;
    line-height: 1.25;
}

#mainstuff{
    padding: 10px;
    margin: 10px 25px;
}

/* header{
    padding: 15px 30px 25px 45px;
    margin: auto;
} */

/* .maintitle{
    padding: 15px 30px 25px 45px;
    margin: 3% 5%;
} */

header .maintitle{
    font-family: 'Josefin Sans', sans-serif;
    margin: 3% 6%;
    text-align: center;
    color: #128996;
    text-transform: uppercase;
    font-size: 36pt;
    letter-spacing: 4px;
    border-style: double;
    border-width: 4px 0;
    padding: 1%;
    background-color: beige;
}

header .maintitle h1{
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: normal;
}

@media (prefers-reduced-motion: reduce){
    header .maintitle h1{
      animation: none;
    }
}

@keyframes title{
    0% {
      color: #128996;
      transform: translateX(-10%);
    }
    50% {
      color: white;
      transform: translateX(10%);
    }
    100% {
      color: #128996;
      transform: translateX(0px);
    }
}

header p{
    margin: 0 12%;
    text-align: center;
    background-color: #48a88d;
    color: white;
    font-weight: bold;
    padding: 1.3%;
}

.grid{
    display: grid;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    row-gap: 10px;
}

.grid div{
    border: solid 2px;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: #f5f5f5;
}

.grid img{
    width: 90%;
    margin: auto;
    display: block;
}

.grid div:nth-child(3n+1)  {
    box-shadow: 10px 0 5px #9ec1ab
    }

.grid div:nth-child(3n)  {
    box-shadow: -10px 0 5px #9ec1ab;
}

.grid div:nth-child(3n+2)  {
    box-shadow: 10px 0 5px #9ec1ab, -10px 0 5px #9ec1ab;
}

.indexgrid{
    display: grid;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    row-gap: 10px;
}

.indexgrid div{
    border: solid 3px #0a6354;
    border-radius: 15px;
    padding: 20px 20px;
    background-color: #f5f5f5;
}

.indexgrid div:nth-child(3n+1)  {
    box-shadow: 10px 0 5px white;
    }

.indexgrid div:nth-child(3n)  {
    box-shadow: -10px 0 5px white;
}

.indexgrid div:nth-child(3n+2)  {
    box-shadow: 10px 0 5px white, -10px 0 5px white;
}

nav{
    text-align: center;
    background-color: #07674c;
    padding: 2% 10%;
}

nav ul li{
    display: inline-block;
    margin: 5px 5%;
    padding: 15px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
}

nav a.active{
    color: #0a6354;
    border: 3px solid white;
}

a:visited{
    color: #ffffff;
}

.intro{
    background-image: url("../images/feminisim_background_image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 600px;
}

img#mainimg{
    width: 90%;
}

.mainimg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 35%;
    padding: 3px;
    border: 10px;
    margin: auto;
    border-radius: 20px;
}

/* img:nth-child(odd) {
    border: 1px solid black;
} */

img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 0 4px #659162 inset;
    transition: 1s ease;
    }

.active{
    background-color: white;
    color: rgb(130, 181, 0);
    border: 3px solid;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 10px;
}

.skip{
    display: inline;
    opacity: 1;
    position: static;
}

/* h1{
    font-family: Arial;
    font-size: 48px;
} */

h2{
    font-size: 36px;
    font-family: Arial;
    text-align: center;
}

h3{
    font-size: 28px;
}

h1, h2, h3{
    margin: 5px;
    font-weight: bold;
}

.icons{
    text-align: right;
}

.icons i{
    font-size: 25px;
    color: white;
}

footer{
    background-color: #07674c;
    border-radius: 15px 15px 0 0;
}

footer a{
    display: block;
    text-align: center;
}

.footerpart{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.subscribe-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
}

input, button {
    margin: 10px;
    font-size: 19px;
}

input[type="email"]{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
    flex: 1;
}

button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #0062cc;
}

body.dark-mode{
    background-color: #333333;
    color: #eeeeee;
}

body.dark-mode header,
body.dark-mode footer{
    background-color: #222222;
}

body.dark-mode header .maintitle{
    background-color: #444444;
    color: #1ba0a0;
}

body.dark-mode .indexgrid div{
    background-color: #555555;
    color: #eeeeee;
}

body.dark-mode .grid div{
    background-color: #555555;
    color: #eeeeee;
}

body.dark-mode nav{
    background-color: #1b1b1b;
}

@media screen and (max-width: 480px) {
    header .maintitle{
        width: 90%;
        font-size: 24pt;
    }

    header .maintitle h1{
        animation: none;
    }

    .indexgrid{
        display: flex;
        flex-direction: column;
    }

    .indexgrid div{
        box-shadow: 10px 0 5px white, -10px 0 5px white !important;
    }

    .grid{
        display: flex;
        flex-direction: column;
    }

    .grid div{
        box-shadow: 10px 0 5px #9ec1ab, -10px 0 5px #9ec1ab !important;
    }

    footer, input, button{
        font-size: 12pt;
    }

    .intro{
        background-attachment: scroll;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .grid{
        grid-template-columns: repeat(2, 45%);
    }

    .indexgrid{
        grid-template-columns: repeat(2, 45%);
    }

    .grid div:nth-child(2n+1){
        box-shadow: 10px 0 5px #9ec1ab;
    }

    .grid div:nth-child(2n){
        box-shadow: -10px 0 5px #9ec1ab;
    }

    .indexgrid div:nth-child(2n+1){
        box-shadow: 10px 0 5px white;
    }

    .indexgrid div:nth-child(2n){
        box-shadow: -10px 0 5px white;
    }

    header .maintitle{
        font-size: 30pt;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 24px;
    }

    nav ul li{
        font-size: 16px;
    }

    input, button{
        font-size: 16px;
    }

    .grid div:hover, .indexgrid div:hover{
        transform: scale(1.05);
        box-shadow: 0 5px 15px rgb(131, 131, 131);
        transition: all 0.3s ease-in-out;
    }
    
    .intro{
        background-attachment: scroll;
    }
}

@media screen and (min-width: 1024px){
    .skip {
        opacity: 0;
        position: absolute;
    }
}